<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.astrnt.kyck">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AstrntApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.register.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter
                android:label="@string/deeplink_title">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="test.astrnt.co"
                    android:pathPrefix="/code"
                    android:scheme="http"/>

                <data
                    android:host="astrnt.co"
                    android:pathPrefix="/code"
                    android:scheme="http"/>

                <data
                    android:host="astrnt.co"
                    android:pathPrefix="/code"
                    android:scheme="astronaut"/>

                <data android:host="kyck.com"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.takepicture.TakePictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".features.takerecord.TakeRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".features.sendingfile.SendingFileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".features.success.SuccessActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>